# OS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
media/
staticfiles/
logs/
*.log

# Environment
.env

# Virtualenv
venv/
env/
.venv/

# VS Code
.vscode/

# Backup & dumps
yedek_m_

data.json

# --- KRİTİK GÜVENLİK ---
*.pem
*.key
auth_key*

# --- FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/build/
.env.local
.env.production

# --- DİĞER ---
*.backup
ai.rules.md
database_schema.puml